.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 5px;
}
.bar-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-outline {
  border: 1px solid #fff;
  min-height: 100px;
  height: 100%;
  width: 5px;
}

.bar-color {
  background-color: rgba(9, 71, 149, 1);
  width: 100%;
  height: 0%;
  transition: height 0.5s ease-out;
}
/* .bar-item-board{
    
} */
.bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-left: 5px;
  /* background-color: pink; */
}
